.block1 {
  box-sizing: border-box;
  max-width: 750px;
  height: 1000px;
  width: 400px;
}

.block1__elm1 {
  box-sizing: border-box;
  max-width: 750px;
  height: 300px;
  width: 300px;
}

.block1__elm2 {
  box-sizing: border-box;
  max-width: 750px;
  height: 300px;
}