doctype html
html(lang='en')
  head
    //- script(src="https://kit.fontawesome.com/dab466896d.js" crossorigin="anonymous")
    title GoodLine
    script(src="https://vk.com/js/api/openapi.js?168" type="text/javascript")
    //- link(rel="shortcut icon" href="./favicon.ico" type="image/x-icon")
  body
    div(id='root')
