.content__user-block {
  list-style-type: none;
  display: flex;
  width: 700px;
  height: 200px;
  background: linear-gradient(BurlyWood,Ivory);
  font-family: Verdana, sans-serif;
  font-size: 15px;
  margin: 3px 0px;
}