.header {
  display: flex;
  align-items: center;
  vertical-align: center;
  justify-content: space-between;
  max-width: 850px;
  height: 37px;
  box-sizing: border-box;
  background: linear-gradient(Yellow, DarkOrange)
}