@import './header.scss';
@import './content__user-block.scss';
@import './content.scss';
@import './preloader.scss';
@import './Profile/block1.scss';
@import './Profile/block2.scss';
@import './Profile/photo.scss';

ul, p, h4{
  margin: 0;
  padding: 0;
}

ul, li {
  list-style-type: none;
}